<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Download File</h3>

    <a href="http://disak.herokuapp.com/files/bookingReciepts/temitope-payment-reciept.pdf" class="btn btn-danger" download>Download</a>
  </body>
</html>
